[submodule "thirdparty/protobuf-2.6.1"]
	path = thirdparty/protobuf-2.6.1
	url = git@github.com:protocolbuffers/protobuf.git
[submodule "thirdparty/libspng"]
	path = thirdparty/libspng
	url = https://gitlab.com/randy408/libspng.git
